 <div class="modal fade show" data-mdb-backdrop="static" data-mdb-keyboard="false" id="exam_modal" tabindex="-1"
        aria-modal="true" role="dialog">
        <div class="modal-dialog  modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Exam</h5>
                    <!-- <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body p-4">

                    <div class="accordion" id="questions">
                        <!-- question data -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block" 
                         id="submit_questions" >Submit</button>
                </div>
            </div>
        </div>
    </div>