<div class="modal fade show" data-mdb-backdrop="static" data-mdb-keyboard="false" id="change_semester_modal"
tabindex="-1" aria-modal="true" role="dialog">
<div class="modal-dialog  modal-dialog-scrollable ">
    <div class="modal-content ">
        <div class="modal-header">
            <h5 class="modal-title">Profile</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-4">
            <h6>Change semester</h6>
            <select class=" mb-4 btn btn-outline-light-grey btn-block"  id="chanage-semester">
                <option value="Select Semester">Select Semester</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <div class="change-semester-error  text-danger  error "></div>
        </div>

        <div class="modal-body p-4">
            <h6>Change Year</h6>
            <select class=" mb-4 btn btn-outline-light-grey btn-block"  id="change-year">
                <option value="Select Semester">Select Year</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <div class="change-year-error  text-danger  error "></div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-info " id="change-submit-button">change</button>
        </div>
    </div>
</div>
</div>